/* 表中 行 */
.datagrid-view .datagrid-btable tbody tr {
  cursor : pointer;
}

.viewTeacherPhoto {
  position : absolute;
  margin-left : 560px;
}

#editForm tbody span.textbox.textbox-readonly {
  border-color : #CCCCCC;
}

/* 分页栏 */
.datagrid-pager.pagination {
  background-color : #FFFFFF;
}
/* 分页栏 每页显示记录条数 */
.pagination-page-list {
  cursor : pointer;
}
