body {
  background-color : #FFFFFF;
}

.northRegion {
  height : 40px;
  background : #920B12;
  line-height : 40px;
  font-size : 20px;
  color : #FFFFFF;
  border : none;
  margin-bottom : 5px;
}
.panel.layout-panel.layout-panel-north {
  background-color : #FFFFFF;
}
.northRegion.panel-body.panel-body-noheader.layout-body {
  box-shadow : 0 1px 3px rgba(18, 18, 18);
}

/* 顶部导航   右部 */
span.head {
  padding-right : 70px;
  float : right;
}

/* 顶部导航 右部 安全退出 */
#logout {
  text-decoration : none;
  position : absolute;
  transition : font-size 250ms;
}

/* 安全退出 hover */
#logout:hover {
  font-size : 13px;
  color : #FED227;
}

.panel.layout-panel.layout-panel-west > .panel-header {
  background : #FFFFFF;
  border : none;
  box-shadow : 0 -1px 3px #CCCCCC;
  padding : 0;
}

.panel.layout-panel.layout-panel-west > .panel-header > .panel-title {
  margin : 0 5px;
  height : 26px;
  line-height : 26px;
  border-bottom : 1px solid #CCCCCC;
}

.panel-tool a {
  color : #004EA2;
}

.panel.layout-panel.layout-panel-west > .panel-body {
  border : none;
  box-shadow : 0 1px 3px #CCCCCC;
}

.panel.layout-panel.layout-panel-west {
  background-color : #FFFFFF;
  padding : 5px;
}

.panel.layout-panel.layout-panel-center {
  background-color : #FFFFFF;
  padding : 5px;
}
.panel.layout-expand.layout-expand-west {
  background-color : #FFFFFF;
  padding : 5px;
}

.panel.layout-panel.layout-panel-west .panel-title {
  font-size : 14px;
  font-weight : normal;
}
.panel.layout-panel.layout-panel-west .panel-header {
  background-color : #FFFFFF;
}

.easyui-accordion.accordion.accordion-noborder.easyui-fluid
  div.panel:not(:last-child)
  .panel-body.accordion-body {
  border-bottom-color : #CCCCCC !important;
}

.easyui-accordion.accordion.accordion-noborder.easyui-fluid
  .panel-header.accordion-header {
  border : none;
}

.easyui-accordion.accordion.accordion-noborder.easyui-fluid
  .panel-header.accordion-header::after {
  content : '';
  height : 1px;
  width : 56px;
  background-color : #AAAAAA;
  position : absolute;
  left : 23px;
  bottom : -5px;
}

/* main */
#mainPanel {
  border : none;
  background : #EEEEEE;
  overflow-y : hidden;
}

/* main tab标题 */
ul.tabs li .tabs-inner {
  border : none;
}

.tabs-wrap > .tabs {
  border-color : transparent;
}

/* 左部边栏 */
.westRegion {
  width : 160px;
  border : none;
}

/* 左部边栏 导航菜单右部按钮 */
.panel.layout-expand.layout-expand-west > .panel-header > .panel-tool {
  right : 0;
}

/* 左部边栏收缩后 整体 */
.panel.layout-expand.layout-expand-west {
  box-shadow : 0 1px 3px #CCCCCC;
}

/* 左部边栏收缩后 header及body */
.panel.layout-expand.layout-expand-west > .panel-header, .panel.layout-expand.layout-expand-west > .panel-body {
  border : none;
}

/* 左边边栏 二级子菜单选项 未hover*/
.panel-body.accordion-body > ul > li > div {
  padding-left : 20px;
}

/* 左边边栏 二级子菜单选项 hover*/
.panel-body.accordion-body > ul > li > .hover {
  border : none;
  background-color : #FFFFFF;
}

/* 左边边栏 二级子菜单选项 hover a标签*/
.panel-body.accordion-body > ul > li > .hover a {
  text-decoration : none;
  color : #FED227;
}

/* 左边边栏 二级子菜单选项 选中状态*/
.panel-body.accordion-body > ul > li > .selected {
  border : none;
  background-color : #FFFFFF;
}

/* 左部边栏 二级子菜单选项  展开图标   */
.accordion-header > .panel-tool {
  right : 10px;
}

/* 底部 footer */
.panel.layout-panel.layout-panel-south {
  width : 1366px;
  left : 0px;
  top : 637px;
}

/* 底部 */
.southRegion {
  height : 30px;
  background : #3D3C3C;
  border : none;
}
/* 底部 内部 */
div.footer {
  color : #49494A;
  height : 100%;
  line-height : 30px;
}
